.formulate {
  text-align: center;
  padding: 2rem;
  background: #f9f9f9;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.5rem;
}

.app-header {
  position: absolute;
  top: 1rem;
  left: 2rem;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}
.header-title {
  font-size: 2rem;
  white-space: nowrap;
}

.main-title {
  font-size: 3rem;
  margin-top: 1.5rem;
  color: #333;
  line-height: 1.6rem;
}

.subtitle {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #666;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.file-upload {
  position: relative;
  display: inline-block;
}

input[type="file"] {
  display: none;
}

label[for="file-input"] {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  border: 2px dashed #333;
  padding: 1rem;
  border-radius: 8px;
  color: #333;
}

.upload-icon {
  width: 24px;
  height: 24px;
  margin-left: 0.5rem;
}

.file-name {
  margin-top: 1rem;
  color: #333;
}